@font-face {
	font-family: title;
	src: url(../fonts/title.ttf);
}

@font-face {
	font-family: name;
	src: url(../fonts/name.ttf);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #EEEEEE;
	overflow: hidden;
}

a {
   outline: 0;
}

.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.nav img {
	height: 5vh;
	width: auto;
	-webkit-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}


.nav div.down img{
	-webkit-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
}

.nav div.up img{
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.frame {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: bottom;
}

.frame#me {
	background-image: url(../images/bg1.jpg);

}


.frame#me .flex#profile {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between; ;
	align-items: stretch;
	justify-content: center;
}

.icon-wrapper {
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 2em;
}

img.icon{
	height: 100%;
	width: auto;
}

.icon-wrapper div {
	display: flex;
	flex-direction: row;
	height: 2em;
	width: 2em;
	padding: 5px 5px;
	border-style: solid;
	border-width: 2px;
	border-radius: 2em;
	border-color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.contact-wrapper {
	left: 0;
}



.contact {
	text-overflow: clip;
	overflow: hidden;

}

.contact {
	-ms-transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	transition: width 0.5s ease;
}

.contact.active {
	width: 100%;
}

.contact p {
	margin-left: 5px;
	color: white;
	font-family: title;
	vertical-align: center;
	font-size: 1.25em;
	line-height: 1em;
}

.network-wrapper {
	right: 0;
}

.network-wrapper div {
	-webkit-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

.network-wrapper div:hover {
	background-color: rgba(0, 0, 0, 0);
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-device-width: 480px) {
	.profile img {
		height: 50%;
		width: 50%;
	}
}

.profile img {
	height: 15em;
	width: 15em;
}

.title {
	color: rgba(255, 255, 255, 0.90);
	font-family: name;
	font-size: 3em;
	padding: 0.25em;
}

.subtitle {
	color: rgba(255, 255, 255, 0.85);
	font-family: title;
	font-size: 2em;
	text-align: justify;
}

.frame#projects {
	background-image: url(../images/bg2.jpg);
}

.frame#skills {
	background-image: url(../images/bg3.jpg);
}

#layer1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 12;
	top: 0px;
	left: 0px;
	visibility: visible;
}

.blur {
	filter: brightness(0.1);
}

#layer1 p {
	font-family: title;
	color: white;
}

#layer2 {
	visibility: visible;
	z-index: 11;
	transition: filter 0.5s ease;
}
