<div class="page row">
	<div class="promotion col-12 col-m-6">
		<img src="img/card1.jpg">
		<div class="amount">
			<p class="new">
				FOOD
			</p>
			<p class="old">
				4€99
			</p>
		</div>
		<div class="desc">
			<p>
				Un authentique saucisson des Alpes à partager à l'apéro !
			</p>
		</div>
	</div>
	<div class="promotion col-12 col-m-6">
		<img src="img/card2.jpg">
		<div class="desc">
			<p>
				Le fromage de caractère par excellence ! N'hésitez pas à venir le goûter en boutique ! 
			</p>
		</div>
		<div class="amount">
			<p class="new">
				2€99
			</p>
			<p class="old">
				5€99
			</p>
		</div>
	</div>
	<div class="promotion col-12 col-m-6">
		<img src="img/card3.jpg">
		<div class="desc">
			<p>
				Réduction exceptionnelle pour les couples le week-end de la St Valentin !
			</p>
		</div>
		<div class="amount">
			<p class="new">
				17€
			</p>
			<p class="old">
				22€
			</p>
		</div>
	</div>
	<div class="promotion col-12 col-m-6">
		<img src="img/card4.jpg">
		<div class="desc">
			<p>
				Soirée mousse Samedi 4 janvier entrée gratuite pour les filles -25% pour les autres !
			</p>
		</div>
		<div class="amount">
			<p class="new">
				15€
			</p>
			<p class="old">
				20€
			</p>
		</div>
	</div>
</div>